<%= form_for @my_avatar, html: { multipart: true } do |f| %>
  <% if @my_avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_avatar.errors.count, "error") %> prohibited this my_avatar from being saved:</h2>

      <ul>
      <% @my_avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Avatar Starting Experience</h4>
    <p>Health = 0</p>
    <p>Stamina = 0</p>
    <p>Strength = 0</p>
    <p>Intelligence = 0</p>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %></br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
