<body>
<% if user_signed_in? %>
	<div class= "bs-docs-example">
		<ul id="myTab" class="nav nav-tabs">
			<li class>
				<a href="#health" data-toggle="tab">Health</a>
			</li>
			<li class>
				<a href="#stamina" data-toggle="tab">Stamina</a>
			</li>
			<li class>
				<a href="#strength" data-toggle="tab">Strength</a>
			</li>
			<li class>
				<a href="#intelligence" data-toggle="tab">Intelligence</a>
			</li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade" id="health">
					<% @healthQuests.each do |quest| %>
					<h3> <%= quest.title %> </h3>
					<p> <%= quest.description %> </p>
					<% end %>
			</div>
			<div class="tab-pane fade" id="stamina">
					<% @staminaQuests.each do |quest| %>
					<h3> <%= quest.title %> </h3>
					<p> <%= quest.description %> </p>
					<% end %>
			</div>
			<div class="tab-pane fade" id="strength">
					<% @strengthQuests.each do |quest| %>
					<h3> <%= quest.title %> </h3>
					<p> <%= quest.description %> </p>
					<% end %>
			</div>
			<div class="tab-pane fade" id="intelligence">
					<% @intelligenceQuests.each do |quest| %>
					<h3> <%= quest.title %> </h3>
					<p> <%= quest.description %> </p>
					<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="jumbotron center">
	  <h1>Welcome to my app!</h1>
	  <p>
	    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  </p>  
	</div>
<% end %>
</body>