<body>
<% if user_signed_in? %>
<div id="avatar container">

	<h2> <%= @myAvatar.name %> </h2>
		<p> Health = <%= @myAvatar.health_xp %> </p>
		<p> Stamina = <%= @myAvatar.stamina_xp %> </p>
		<p> Strength = <%= @myAvatar.strength_xp %> </p>
		<p> Intelligence = <%= @myAvatar.intelligence_xp %> </p>
	</div>
<div id="wrapper">

	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#health" aria-controls="health" role="tab" data-toggle="tab">Health</a>
			</li>
			<li role="presentation">
				<a href="#stamina" aria-controls="stamina" role="tab" data-toggle="tab">Stamina</a>
			</li>
			<li role="presentation">
				<a href="#strength" aria-controls="strength" role="tab" data-toggle="tab">Strength</a>
			</li>
			<li role="presentation">
				<a href="#intelligence" aria-controls="intelligence" role="tab" data-toggle="tab">Intelligence</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="health">
				<% @healthQuests.each do |quest| %>
					<h2 class="accordion"></a href="#"> <%= quest.title %> </a></h2>
					<div class="accContainer">
						<p> <%= quest.description %> </p>
					</div>
				<% end %>
			</div>
			<div role="tabpanel" class="tab-pane" id="stamina">
				<% @staminaQuests.each do |quest| %>
					<h2 class="accordion"></a href="#"> <%= quest.title %> </a></h2>
					<div class="accContainer">
						<p> <%= quest.description %> </p>
					</div>
				<% end %>
			</div>
			<div role="tabpanel" class="tab-pane" id="strength">
				<% @strengthQuests.each do |quest| %>
					<h2 class="accordion"></a href="#"> <%= quest.title %> </a></h2>
					<div class="accContainer">
						<p> <%= quest.description %> </p>
					</div>
				<% end %>
			</div>
			<div role="tabpanel" class="tab-pane" id="intelligence">
				<% @intelligenceQuests.each do |quest| %>
					<h2 class="accordion"></a href="#"> <%= quest.title %> </a></h2>
					<div class="accContainer">
						<p> <%= quest.description %> </p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% else %>
	<div class="jumbotron center">
	  <h1>Welcome to Avatar</h1>
	  <p>
	    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  </p>  
	</div>
<% end %>
</body>